# This dataset has continuous target variable, hence linear regression is used

In [1]:
import numpy as np 
import pandas as pd 
import os
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display
import statsmodels as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import  train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error as MSE
import warnings
warnings.filterwarnings('ignore')

In [2]:
taxi =  "https://raw.githubusercontent.com/Premalatha-success/Datasets/main/TaxiFare.csv"
df=pd.read_csv(taxi)
df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [46]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\afnan\anaconda3\lib\site-packages (1.7.3)
Requirement already satisfied: numpy in c:\users\afnan\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\afnan\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Note: you may need to restart the kernel to use updated packages.

In [47]:
from sklearn.ensemble import AdaBoostClassifier , GradientBoostingClassifier , VotingClassifier , RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb

In [3]:
df.isnull().sum()

unique_id               0
amount                  0
date_time_of_pickup     0
longitude_of_pickup     0
latitude_of_pickup      0
longitude_of_dropoff    0
latitude_of_dropoff     0
no_of_passenger         0
dtype: int64

In [4]:
pip install haversine

Requirement already satisfied: haversine in c:\users\afnan\anaconda3\lib\site-packages (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = df.dropna(how = 'any', axis = 'rows')

In [6]:
df.drop(df[df['longitude_of_pickup'] == 0].index, axis=0, inplace = True)
df.drop(df[df['latitude_of_pickup'] == 0].index, axis=0, inplace = True)
df.drop(df[df['longitude_of_dropoff'] == 0].index, axis=0, inplace = True)
df.drop(df[df['latitude_of_dropoff'] == 0].index, axis=0, inplace = True)
df.drop(df[df['no_of_passenger'] == 208].index, axis=0, inplace = True)
df.drop(df[df['no_of_passenger'] >5 ].index, axis=0, inplace = True)
df.drop(df[df['no_of_passenger'] == 0].index, axis=0, inplace = True)

In [7]:
df.drop(['unique_id'], axis=1,inplace=True)
df.drop(['date_time_of_pickup'], axis=1,inplace=True)

In [8]:
df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1

In [9]:
df.dropna(inplace=True)
df.drop(df.index[(df.longitude_of_pickup< -75) | 
           (df.longitude_of_pickup> -72) | 
           (df.latitude_of_pickup< 40) | 
           (df.latitude_of_pickup> 42)],inplace=True)
df.drop(df.index[(df.longitude_of_dropoff< -75) | 
           (df.longitude_of_dropoff > -72) | 
           (df.latitude_of_dropoff< 40) | 
           (df.latitude_of_dropoff> 42)],inplace=True)

In [10]:
df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1

In [11]:
X, y = df.drop('amount', axis = 1), df['amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [12]:
scaler = StandardScaler()

In [13]:
m1=LinearRegression()
m1.fit(X_train, y_train)

LinearRegression()

In [14]:
m1.score(X_train, y_train)

0.24215182741400787

In [15]:
m1.score(X_train, y_train)

0.24215182741400787

In [16]:
StSc = StandardScaler()
X_train  = StSc.fit_transform(X_train)
X_test  = StSc.fit_transform(X_test)

In [17]:
print("After Standardization\nMean ",np.mean(X_train),"Standard Deviation ",np.std(X_train),"\n")

After Standardization
Mean  2.6397255154878184e-14 Standard Deviation  1.0

In [38]:
scaler.fit_transform(df)

array([[-0.7085252 ,  3.28675977, -0.96332889,  3.42440621, -1.16961166,
        -0.5133422 ],
       [ 0.57575903, -1.02641912, -1.28726025, -0.13575373,  0.90368938,
        -0.5133422 ],
       [-0.58423963, -0.18983767,  0.32874197, -0.44542956, -0.03123778,
         0.3619608 ],
       ...,
       [-0.45995406, -0.69113355, -0.37765867, -0.62300048,  0.23402795,
        -0.5133422 ],
       [-0.7085252 ,  0.73128096,  0.8558096 ,  0.53196053,  0.83479343,
         0.3619608 ],
       [-0.04566882,  1.06930406,  0.41072739,  1.07111302,  0.36254252,
        -0.5133422 ]])

In [42]:
xgb_r = xgb.XGBRegressor(objective ='reg:linear',
                  n_estimators = 400, seed = 123)

In [43]:
xgb_r.fit(X_train,y_train)

[18:43:09] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-08de971ced8a8cdc6-1/xgboost/xgboost-ci-windows/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=400, n_jobs=None, num_parallel_tree=None,
             objective='reg:linear', predictor=None, ...)

In [44]:
y_pred = xgb_r.predict(X_test)

In [45]:
rmse = np.sqrt(MSE(y_test, y_pred))
print("RMSE : % f" %(rmse))

RMSE :  4.802353